@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

.player-container {
    height: 500px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 40px 5px rgba(0, 0, 0, 0.4);
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.img-container img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 40px 5px rgba(0, 0, 0, 0.5);
}



h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}
h3 {
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}

/* Progress */
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}
.progress {
    height: 100%;
    width: 60%;
    background: #242323;
    border-radius: 5px;
    transition: width 0.1s linear;
}
.duration-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25px;
}

/* Controls */
.player-controls {
    position: relative;
    left: 130px;
    top: -15px;
    width: 200px;
}
.fa-solid {
    font-size: 30px;
    margin-right: 20px;
    color: rgb(129, 129, 129);
    cursor: pointer;
    user-select: none;
}
.fa-solid:hover {
    filter: brightness(90%);
}
.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}

@media (max-width: 376px) {
    .player-container {
        max-width: 95vw;
    }
    .img-container {
        left: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 12px;
    }
    .player-controls {
        left: 105px;
    }
}